# .terraform
.terraform/
#**/.terraform/*
#*.tfstate
*.tfstate*
crash.log
crash.*.log
.terraform.lock.hcl

# .Private
.private/

# Kubernetes
*-join-command
*.log

# .vscode
.vscode/

# Trunk - A tool for managing multiple Git repositories.
.trunk/