apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hello-world-ns

resources:
  - hello-world-ns.yaml
  - hello-world-deployment-blue.yaml
  - hello-world-deployment-green.yaml
  - hello-world-service.yaml
  - hello-world-backend-config.yaml
  - hello-world-networkpolicy.yaml
  - hello-world-ingress.yaml

commonAnnotations:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: gke-cluster-demo
  deployment-strategy: blue-green
  docs: docs/blue-green-deployment.md

replicas:
  - name: hello-world-blue
    count: 3
  - name: hello-world-green
    count: 3
