apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: hello-world-backend-config
  namespace: hello-world-ns
spec:
  cdn:
    enabled: true
    cachePolicy:
      includeHost: true
      includeProtocol: true
      includeQueryString: false
  timeoutSec: 30
  connectionDraining:
    drainingTimeoutSec: 60
  logging:
    enable: true
    sampleRate: 1.0
