plugin: google.cloud.gcp_compute
projects:
  - gke-cluster-458701
filters:
  - status = RUNNING
zones:
  - us-central1-a
  - us-central1-b
  - us-central1-c
  - us-central1-f
auth_kind: application
scopes:
  - https://www.googleapis.com/auth/cloud-platform
keyed_groups:
  - key: labels.gke-node
    prefix: gke_node
    separator: _
hostnames:
  - name
compose:
  ansible_connection: "'google.cloud.iap'"
  ansible_gcloud_host: name
  ansible_gcloud_project: project
  ansible_gcloud_zone: zone
  ansible_host: name
  ansible_python_interpreter: "'/usr/bin/python3'"
